* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#agrupar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

#seccion {
  width: 100%;
}

#cabecera {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: "Righteous", cursive;
  color: greenyellow;
  text-shadow: blue 2px 2px 5px;
}

#articulo1 {
  background-color: gainsboro;
}

#art1 {
  display: flex;
  justify-content: center;
  font-family: "Train One", cursive;
  font-size: 50px;
}

#imagen1 {
  width: 100%;
  margin-left: 10%;
}

#imagen2 {
  width: 40%;
  height: 100%;
  margin-left: 10%;
}

#imagen3 {
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

#imagen4 {
  margin-left: 70px;
}

#contenedor {
  display: flex;
  justify-content: space-around;
  background-color: gainsboro;
}

#contenedor2 {
  display: flex;
  justify-content: space-evenly;
  background-color: gainsboro;
}

#contenedor3 {
  background-color: gainsboro;
}

#art2 {
  font-family: "Train One", cursive;
  font-size: 50px;
}

#art3 {
  font-family: "Train One", cursive;
  font-size: 50px;
}

#art4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#art5 {
  font-family: "Train One", cursive;
  font-size: 50px;
  width: 40%;
}

#articulo4 {
  display: flex;
  justify-content: right;
}

aside {
  display: flex;
}

#columna {
  justify-content: left;
  align-items: left;
  flex-direction: column;
  width: 100%;
  height: 88%;
  margin: 28% 1px;
  /* margin-left: -200px; */
  padding: 10%;
  background-color: greenyellow;
}

@media screen and (max-width: 400px) {
  #columna {
    display: none;
  }

  /* #agrupar {
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 200px;
  } */

  /* body {
    width: 50%;
    font-size: 30px;
  } */
  /* #art1,
  #art2,
  #art3,
  #art4 {
    font-family: "Train One", cursive;
    font-size: 40px;
  } */
}

/* #contenedor4 {
  background-color: greenyellow;
  width: 240px;
  height: 1758px;
  margin-left: 880px;
  margin-top: -1758px;
} */

#art6 {
  margin-left: 5px;
  margin-top: 50px;
  font-family: "Train One", cursive;
  font-size: 50px;
  width: 100%;
}

#miFormulario {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#campo,
#campo1,
#campo2,
#boton {
  border-color: #7a402c;
  border-width: 3px;
  border-radius: 5px;
  height: 40px;
}

#boton {
  background-color: #7a402c;
}
